
body {
    background: #042331;
} 

.logo h1{
    color: white;
    font-size: 70px;
    margin-top: -10px;
    text-align: center;
}

.logo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 42%;
}

.description {
    width: 900px !important;
    height: 240px !important;
    margin-top: 2px;
    margin-left: 20%;
    background: white;
    line-height: 2;
    border-radius: 15px;
    margin-top: 20px;
}

.description p {
    margin-left: 15px;
    font-size: 20px;
}

form {
    background: red;
}