
body {
    background: #042331;
} 

.logo h1{
    color: white;
    font-size: 70px;
    margin-top: -10px;
    text-align: center;
}

.logo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 42%;
}

.description {
    width: 900px !important;
    height: 240px !important;
    margin-top: 2px;
    margin-left: 20%;
    background: white;
    line-height: 2;
    border-radius: 15px;
    margin-top: 20px;
}

.description p {
    margin-left: 15px;
    font-size: 20px;
}

form {
    background: rgba(255,255,255,0.5);
    width: 850px;
    margin-left:22%;
    margin-top: 10px;
    border-radius: 15px;
    
}
.form-group {
    margin: 10px;
}
form h2 {
    text-align: center;
    font-weight: bold;
}
ul {
    margin-left: 3%;
    font-size: 15px;
}
li {
    font-size: 30px;
    list-style: none;
    display: inline;
}

.btn {
 margin-left: 10px;
}